<!DOCTYPE html>
<html lang="ko">
  <% include ./common/head-meta %>
  <body>
    <% include ./common/search %> <% include ./common/nav %>

    <!--/ Carousel Star /-->
    <div class="intro intro-carousel">
      <div id="carousel" class="owl-carousel owl-theme">
        <div
          class="carousel-item-a intro-item bg-image"
          style="background-image: url(img/slide-1.jpg)"
        >
          <div class="overlay overlay-a"></div>
          <div class="intro-content display-table">
            <div class="table-cell">
              <div class="container">
                <div class="row">
                  <div class="col-lg-8"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          class="carousel-item-a intro-item bg-image"
          style="background-image: url(img/slide-2.jpg)"
        >
          <div class="overlay overlay-a"></div>
          <div class="intro-content display-table">
            <div class="table-cell">
              <div class="container">
                <div class="row">
                  <div class="col-lg-8"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          class="carousel-item-a intro-item bg-image"
          style="background-image: url(img/slide-3.jpg)"
        >
          <div class="overlay overlay-a"></div>
          <div class="intro-content display-table">
            <div class="table-cell">
              <div class="container">
                <div class="row">
                  <div class="col-lg-8"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--/ Carousel end /-->

    <!--/ Property Star /-->
    <section class="section-property section-t8">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="title-wrap d-flex justify-content-between">
              <div class="title-box">
                <h2 class="title-a">Latest Shoes</h2>
              </div>
              <div class="title-link">
                <a href="/products"
                  >All Shoes
                  <span class="ion-ios-arrow-forward"></span>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div id="property-carousel" class="owl-carousel owl-theme">
          <% for (product of recentProducts) { %>
          <div class="carousel-item-b">
            <div class="card-box-a card-shadow">
              <div class="img-box-a">
                <img
                  src="<%= product.image %>"
                  alt=""
                  class="img-a img-fluid"
                />
              </div>
              <div class="card-overlay">
                <div class="card-overlay-a-content">
                  <div class="card-header-a">
                    <h2 class="card-title-a">
                      <a href="/products/<%= product.id %>"
                        ><%= product.name %></a
                      >
                    </h2>
                  </div>
                  <div class="card-body-a">
                    <div class="price-box d-flex">
                      <span class="price-a">$ <%= product.price %></span>
                    </div>
                    <a href="/products/<%= product.id %>" class="link-a"
                      >Click here to view
                      <span class="ion-ios-arrow-forward"></span>
                    </a>
                  </div>
                  <div class="card-footer-a">
                    <ul class="card-info d-flex justify-content-around">
                      <li>
                        <h4 class="card-info-title">등록일</h4>
                        <span><%= product.registrationDate %></span>
                      </li>
                      <li>
                        <h4 class="card-info-title">상품타입</h4>
                        <span><%= product.type %></span>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <% } %>
        </div>
      </div>
    </section>
    <!--/ Property End /-->

    <!--/ News Star /-->
    <section class="section-news section-t8">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="title-wrap d-flex justify-content-between">
              <div class="title-box">
                <h2 class="title-a">Popular Shoes</h2>
              </div>
              <div class="title-link">
                <a href="/products"
                  >All Shoes
                  <span class="ion-ios-arrow-forward"></span>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div id="new-carousel" class="owl-carousel owl-theme">
          <% for (product of popularProducts) { %>
          <div class="carousel-item-c">
            <div class="card-box-b card-shadow news-box">
              <div class="img-box-b">
                <img
                  src="<%= product.image %>"
                  alt=""
                  class="img-b img-fluid"
                />
              </div>
              <div class="card-overlay">
                <div class="card-header-b">
                  <div class="card-category-b">
                    <a href="#" class="category-b"
                      >Buy +<%= product.totalNumberOrders %></a
                    >
                  </div>
                  <div class="card-title-b">
                    <h2 class="title-2">
                      <a href="/products/<%= product.id %>"
                        ><%= product.name %></a
                      >
                    </h2>
                  </div>
                  <div class="card-date">
                    <a href="/products/<%= product.id %>" class="link-a"
                      >Click here to view
                      <span class="ion-ios-arrow-forward"></span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <% } %>
        </div>
      </div>
    </section>
    <!--/ News End /-->

    <% include ./common/footer.ejs %>

    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
    <div id="preloader"></div>

    <% include ./common/foot-meta.ejs %>
  </body>
</html>
