<!DOCTYPE html>
<html lang="en">
  <% include ./common/head-meta %>
  <body>
    <% include ./common/search %> <% include ./common/nav %>

    <!--/ Intro Single star /-->
    <section class="intro-single">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-lg-8">
            <div class="title-single-box">
              <h1 class="title-single">
                Search (<%= totalNumberOfProducts %>)
              </h1>
              <span class="color-text-a">Shoes</span>
            </div>
          </div>
          <div class="col-md-12 col-lg-4">
            <nav
              aria-label="breadcrumb"
              class="breadcrumb-box d-flex justify-content-lg-end"
            >
              <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <a href="/">Home</a>
                </li>
                <li class="breadcrumb-item">
                  <a href="/products">Product</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                  Search
                </li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </section>
    <!--/ Intro Single End /-->

    <!--/ Products /-->
    <section class="property-grid grid">
      <div class="container">
        <div id="product_list" class="row">
          <% for (product of products) { %>
          <div class="col-md-4">
            <div class="card-box-a card-shadow">
              <div class="img-box-a">
                <img
                  src="<%= product.image %>"
                  alt=""
                  class="img-a img-fluid"
                />
              </div>
              <div class="card-overlay">
                <div class="card-overlay-a-content">
                  <div class="card-header-a">
                    <h2 class="card-title-a">
                      <a href="/products/<%= product.id %>"
                        ><%= product.name %></a
                      >
                    </h2>
                  </div>
                  <div class="card-body-a">
                    <div class="price-box d-flex">
                      <span class="price-a">$ <%= product.price %></span>
                    </div>
                    <a href="/products/<%= product.id %>" class="link-a"
                      >Click here to view
                      <span class="ion-ios-arrow-forward"></span>
                    </a>
                  </div>
                  <div class="card-footer-a">
                    <ul class="card-info d-flex justify-content-around">
                      <li>
                        <h4 class="card-info-title">등록일</h4>
                        <span><%= product.registrationDate %></span>
                      </li>
                      <li>
                        <h4 class="card-info-title">상품타입</h4>
                        <span><%= product.type %></span>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <% } %>
        </div>
      </div>
    </section>
    <!--/ Property Grid End /-->

    <% include ./common/footer.ejs %>

    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
    <div id="preloader"></div>

    <% include ./common/foot-meta.ejs %>

    <script>
      $(document).ready(() => {
        $('.navbar-nav.ml-auto>li:eq(1)').addClass('active')
      })
    </script>
  </body>
</html>
