<!DOCTYPE html>
<html lang="en">
  <% include ./common/head-meta %>

  <style>
    #like:hover {
      color: #2eca6a;
    }
  </style>

  <body>
    <% include ./common/search %> <% include ./common/nav %>

    <!--/ Intro Single star /-->
    <section class="intro-single">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-lg-8">
            <div class="title-single-box">
              <span class="color-text-a"
                ><%= product.registrationDate %><br /><br
              /></span>
              <h1 class="title-single"><%= product.brands.name %></h1>
            </div>
          </div>
          <div class="col-md-12 col-lg-4">
            <nav
              aria-label="breadcrumb"
              class="breadcrumb-box d-flex justify-content-lg-end"
            >
              <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <a href="/">Home</a>
                </li>
                <li class="breadcrumb-item">
                  <a href="/products">Product</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                  <%= product.name %>
                </li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </section>
    <!--/ Intro Single End /-->

    <!--/ Agent Single Star /-->
    <section class="agent-single">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="row">
              <div class="col-md-6">
                <div class="agent-avatar-box">
                  <img
                    src="<%= product.image %>"
                    alt=""
                    class="agent-avatar img-fluid"
                    style="width: 70%"
                  />
                </div>
              </div>
              <div class="col-md-5 section-md-t3">
                <div class="agent-info-box">
                  <div class="agent-title">
                    <div class="title-box-d">
                      <h3 class="title-d"><%= product.name %></h3>
                    </div>
                  </div>
                  <div class="agent-content mb-3">
                    <div class="info-agents color-a">
                      <p>
                        <strong>브랜드 </strong><br />
                        <span class="color-text-a"
                          ><%= product.brands.name %></span
                        >
                      </p>
                      <p>
                        <strong>카테고리 </strong><br />
                        <span class="color-text-a"
                          ><%= product.categories.name %></span
                        >
                      </p>
                      <p>
                        <strong>품번 </strong><br />
                        <span id="product_id" class="color-text-a"
                          ><%= product.code %></span
                        >
                      </p>
                      <p>
                        <strong>타입 </strong><br />
                        <span class="color-text-a"> <%= product.type %></span>
                      </p>
                      <p>
                        <strong>가격 </strong><br />
                        <span class="color-text-a"
                          ><%= product.price %> 원</span
                        >
                      </p>
                      <p>
                        <span class="color-text-a">
                          <%= product.description %></span
                        >
                      </p>
                    </div>
                    <div>
                      <select
                        id="product_color"
                        class="custom-select"
                        style="width: 150px"
                      >
                        <option selected>색상</option>
                        <% for (productDetails of product.productDetails) { %>
                        <option value="<%= productDetails.color %>">
                          <%= productDetails.color %>
                        </option>
                        <% } %>
                      </select>
                      <select
                        id="product_size"
                        class="custom-select"
                        style="width: 150px; margin-left: 10px"
                      >
                        <option selected>사이즈</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12 mt-3">
                <% if (user.id === '') { %>
                <a href="/auth/login"><i class="far fa-heart fa-3x"></i></a>
                <% } else { %> <% if (user.like.status === false) { %>
                <i id="like" class="far fa-heart fa-3x"></i>
                <% } else { %>
                <i id="like" class="fas fa-heart fa-3x"></i>
                <% } %> <% } %>
                <span
                  id="total_number_likes"
                  class="ml-1"
                  style="font-size: 1.5rem"
                  >좋아요 <%= product.likes.filter(like => like.status ===
                  true).length %></span
                >
              </div>
              <div class="col-md-10 mt-5">
                <div class="title-box-d">
                  <h3 class="title-d">
                    Review (<%= product.reviews.length %>)
                  </h3>
                </div>
                <div class="box-comments">
                  <ul class="list-comments mt-4">
                    <% if (product.reviews.length === 0) { %>
                    <li>
                      <p>
                        해당 상품에 대한 리뷰가 존재하지 않습니다. 리뷰를 작성해
                        보세요!
                      </p>
                    </li>
                    <% } else { %> <% for (review of product.reviews) { %>
                    <li class="pb-1">
                      <div class="comment-details">
                        <h4 class="comment-author">
                          <%= review.users.email %>
                        </h4>
                        <span style="color: gray"
                          ><%= review.createdDate %></span
                        >
                        <p id="<%= review.id %>" class="comment-description">
                          > <%= review.content %>
                        </p>
                        <% if (review.userId === user.id) { %>
                        <button
                          id="update_review"
                          class="btn ml-1"
                          value="<%= review.id %>"
                        >
                          수정하기
                        </button>
                        <button
                          id="delete_review"
                          class="btn"
                          value="<%= review.id %>"
                        >
                          삭제하기
                        </button>
                        <% } %>
                      </div>
                    </li>
                    <hr class="mb-5" />
                    <% } %> <% } %>
                  </ul>
                </div>
                <div class="form-comments">
                  <div class="title-box-d">
                    <h3 class="title-d">Leave a Review</h3>
                  </div>
                  <form
                    class="form-a"
                    action="/products/<%= product.id %>/review"
                    method="POST"
                  >
                    <input type="hidden" name="userId" value="<%= user.id %>" />
                    <input
                      type="hidden"
                      name="productId"
                      value="<%= productId %>"
                    />
                    <div class="row">
                      <div class="col-md-6 mb-3">
                        <div class="form-group">
                          <label for="inputName">ID</label>
                          <input
                            id="review_email"
                            type="text"
                            class="form-control form-control-lg form-control-a"
                            placeholder="로그인 후 이용이 가능합니다."
                            name="email"
                            value="<%= user.email %>"
                            readonly
                            required
                          />
                        </div>
                      </div>
                      <div class="col-md-12 mb-3">
                        <div class="form-group">
                          <label for="textMessage">Content</label>
                          <div
                            id="review_content_count"
                            class="mb-2 float-right"
                          >
                            (0 / 250)
                          </div>
                          <textarea
                            id="review_content"
                            class="form-control"
                            style="resize: none"
                            placeholder="내용을 입력해 주세요 *"
                            name="content"
                            cols="45"
                            rows="6"
                            maxlength="250"
                            required
                          ></textarea>
                        </div>
                      </div>
                      <div class="col-md-12">
                        <button
                          id="review_submit"
                          type="submit"
                          class="btn btn-a"
                        >
                          Save
                        </button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--/ Agent Single End /-->

    <% include ./common/footer.ejs %>

    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
    <div id="preloader"></div>

    <% include ./common/foot-meta.ejs %>

    <script>
      // 해당 상품에 대한 색상의 사이즈 가져오기
      $('#product_color').change(e => {
        const color = e.target.value

        // Default 값인 경우 실행 X
        if (color === '색상') return false

        const productId = $('input[name=productId]').val()

        $.ajax({
          url: `/products/${productId}/size`,
          method: 'GET',
          data: {
            color,
          },
          success: data => {
            const { productSizes } = data

            for (product of productSizes) {
              $('#product_size').append(`
                  <option value=${product.size}>
                    ${product.size}
                  </option>
                `)
            }
          },
        })
      })

      // 좋아요 off 상태에서 클릭 시 ON
      $(document).on('click', '#like.far.fa-heart.fa-3x', () => {
        const userId = $('input[name=userId]').val()
        const productId = $('input[name=productId]').val()

        $.ajax({
          url: `/products/${productId}/like`,
          method: 'PUT',
          data: {
            userId,
            status: true,
          },
          success: data => {
            if (data.status == 'success') {
              $('#like').attr('class', 'fas fa-heart fa-3x')

              const totalNumberLikes = $('#total_number_likes')
                .text()
                .split(' ')[1]

              $('#total_number_likes').text(
                `좋아요 ${parseInt(totalNumberLikes, 10) + 1}`,
              )
            } else {
              alert('문제가 발생했습니다. 잠시 후 다시 시도해 주세요.')
            }
          },
        })
      })

      // 좋아요 ON 상태에서 클릭 시 OFF
      $(document).on('click', '#like.fas.fa-heart.fa-3x', () => {
        const userId = $('input[name=userId]').val()
        const productId = $('input[name=productId]').val()

        $.ajax({
          url: `/products/${productId}/like`,
          method: 'PUT',
          data: {
            userId,
            status: false,
          },
          success: data => {
            if (data.status == 'success') {
              $('#like').attr('class', 'far fa-heart fa-3x')

              const totalNumberLikes = $('#total_number_likes')
                .text()
                .split(' ')[1]

              $('#total_number_likes').text(
                `좋아요 ${parseInt(totalNumberLikes, 10) - 1}`,
              )
            } else {
              alert('문제가 발생했습니다. 잠시 후 다시 시도해 주세요.')
            }
          },
        })
      })

      // 페이지 로드 시 로그인이 안되어 있다면, 리뷰 작성 폼 disable
      $(document).ready(() => {
        const userId = $('input[name=userId]').val()

        if (userId === '') {
          $('#review_email').attr('disabled', true)
          $('#review_content').attr('disabled', true)
        }
      })

      // 로그인이 안되어 있는 경우 리뷰 작성 폼 submit 시 login redirect
      $(document).on('click', '#review_submit', () => {
        const userId = $('input[name=userId]').val()

        if (userId === '') {
          location.href = '/auth/login'
        }
      })

      $(document).on('keyup', 'textarea[name=content]', e => {
        $('#review_content_count').html(`(${e.target.value.length} / 250)`)
      })

      // 1. 자신이 작성한 리뷰 중에서 수정하기 버튼 클릭 시
      // 리뷰 내용 읽기 -> 수정 폼으로 변경
      $(document).on('click', '#update_review', e => {
        const reviewId = e.target.value

        const content = $(`#${reviewId}`).text().trim().replace('> ', '')

        $(`#${reviewId}`).empty()
        $(`#${reviewId}`).append(`
            <div id="modify_review_content_count" class="mb-2 float-right">
              (${content.length} / 250)
            </div>
            <textarea
              id="modify_review_content"
              class="form-control"
              style="resize: none;"
              cols="33"
              rows="8"
              maxlength="250"
            >${content}</textarea>
          `)
        $(e.target).attr('id', 'modify_review')
        $('#modify_review').text('저장하기')
      })

      $(document).on('keyup', '#modify_review_content', e => {
        const reviewId = e.target.parentElement.id
        $(`#${reviewId} div`).html(`(${e.target.value.length} / 250)`)
      })

      // 2. 위의 1번 이벤트 이후(=수정 폼 작성 완료)
      // 다시 수정하기 버튼을 클릭 시 PUT 요청
      $(document).on('click', '#modify_review', e => {
        const reviewId = e.target.value
        const content = $(`#${reviewId} textarea`).val()
        const productId = $('input[name=productId]').val()

        $.ajax({
          url: `/products/${productId}/review`,
          method: 'PUT',
          data: {
            id: reviewId,
            content,
          },
          success: data => {
            if (data.status === 'success') {
              location.reload()
            } else {
              alert('문제가 발생했습니다. 잠시 후 다시 시도해 주세요.')
            }
          },
        })
      })

      // 자신이 작성한 리뷰 중에서 삭제하기 버튼 클릭 시
      // DELETE 요청
      $(document).on('click', '#delete_review', e => {
        const reviewId = e.target.value
        const productId = $('input[name=productId]').val()

        $.ajax({
          url: `/products/${productId}/review`,
          method: 'DELETE',
          data: {
            id: reviewId,
          },
          success: data => {
            if (data.status === 'success') {
              location.reload()
            } else {
              alert('문제가 발생했습니다. 잠시 후 다시 시도해 주세요.')
            }
          },
        })
      })
    </script>
  </body>
</html>
