<!DOCTYPE html>
<html lang="en">
  <% include ./common/head-meta %>
  <body>
    <% include ./common/search %> <% include ./common/nav %>

    <!--/ Intro Single star /-->
    <section class="intro-single">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-lg-8">
            <div class="title-single-box">
              <h1 class="title-single">Product</h1>
              <span class="color-text-a">Shoes</span>
            </div>
          </div>
          <div class="col-md-12 col-lg-4">
            <nav
              aria-label="breadcrumb"
              class="breadcrumb-box d-flex justify-content-lg-end"
            >
              <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <a href="/">Home</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                  Product
                </li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </section>
    <!--/ Intro Single End /-->

    <!--/ Products /-->
    <section class="property-grid grid">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="grid-option">
              <form>
                <select class="custom-select" name="product_sort">
                  <option selected>상품정렬</option>
                  <option value="registration">등록순</option>
                  <option value="popularity">인기순</option>
                  <option value="review">리뷰순</option>
                  <option value="name">이름순</option>
                </select>
              </form>
            </div>
          </div>
          <div class="col-12 mb-3">
            <div class="grid-option" style="float: left">
              <form>
                <select class="custom-select mb-1" name="product_filter">
                  <option selected>브랜드</option>
                  <option value="전체상품">전체상품</option>
                  <% for (brand of brands) { %>
                  <option value="<%= brand.id %>"><%= brand.name %></option>
                  <% } %>
                </select>
                <select class="custom-select mb-1" name="product_filter">
                  <option selected>카테고리</option>
                  <option value="전체상품">전체상품</option>
                  <% for (category of categories) { %>
                  <option value="<%= category.id %>">
                    <%= category.name %>
                  </option>
                  <% } %>
                </select>
                <select class="custom-select mb-1" name="product_filter">
                  <option selected>상품타입</option>
                  <option value="전체상품">전체상품</option>
                  <option value="남녀공용">남녀공용</option>
                  <option value="남성용">남성용</option>
                  <option value="여성용">여성용</option>
                </select>
              </form>
            </div>
          </div>
        </div>
        <div id="product_list" class="row">
          <% for (product of products) { %>
          <div class="col-md-4">
            <div class="card-box-a card-shadow">
              <div class="img-box-a">
                <img
                  src="<%= product.image %>"
                  alt=""
                  class="img-a img-fluid"
                />
              </div>
              <div class="card-overlay">
                <div class="card-overlay-a-content">
                  <div class="card-header-a">
                    <h2 class="card-title-a">
                      <a href="/products/<%= product.id %>"
                        ><%= product.name %></a
                      >
                    </h2>
                  </div>
                  <div class="card-body-a">
                    <div class="price-box d-flex">
                      <span class="price-a">$ <%= product.price %></span>
                    </div>
                    <a href="/products/<%= product.id %>" class="link-a"
                      >Click here to view
                      <span class="ion-ios-arrow-forward"></span>
                    </a>
                  </div>
                  <div class="card-footer-a">
                    <ul class="card-info d-flex justify-content-around">
                      <li>
                        <h4 class="card-info-title">등록일</h4>
                        <span><%= product.registrationDate %></span>
                      </li>
                      <li>
                        <h4 class="card-info-title">상품타입</h4>
                        <span><%= product.type %></span>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <% } %>
        </div>

        <div class="row">
          <div class="col-sm-12">
            <nav class="pagination-a">
              <ul id="pagination" class="pagination justify-content-end">
                <!-- <li class="page-item">
                  <a
                    class="page-link"
                    href="javascript:void(0)"
                    onclick="pagination('0')"
                  >
                    <span class="ion-ios-arrow-back"></span>
                  </a>
                </li> -->
                <li id="first_page" class="page-item active">
                  <a
                    class="page-link"
                    href="javascript:void(0)"
                    onclick="pagination(this)"
                    >1</a
                  >
                </li>
                <% for (let i = 2; i <= page; i++) { %>
                <li class="page-item">
                  <a
                    class="page-link"
                    href="javascript:void(0)"
                    onclick="pagination(this)"
                    ><%= i %></a
                  >
                </li>
                <% } %>
                <!-- <li class="page-item next">
                  <a
                    class="page-link"
                    href="javascript:void(0)"
                    onclick="pagination('-1')"
                  >
                    <span class="ion-ios-arrow-forward"></span>
                  </a>
                </li> -->
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </section>
    <!--/ Property Grid End /-->

    <% include ./common/footer.ejs %>

    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
    <div id="preloader"></div>

    <% include ./common/foot-meta.ejs %>

    <script>
      const pagination = el => {
        $('.page-item.active').removeClass('active')
        el.parentElement.className += ' active'

        const sortAndFilterOptions = getSortAndFilterOptions()

        $.ajax({
          url: '/products',
          method: 'GET',
          data: {
            ...sortAndFilterOptions,
            page: el.text,
          },
          success: data => {
            $('#product_list').empty()

            const { products } = data

            if (products.length > 0) {
              for (const product of products) {
                displayProduct(product)
              }
            } else {
              $('#product_list').append(`
                <div class="col-md-4">
                  <p>해당되는 상품이 존재하지 않습니다.</p>
                </div>
              `)
            }
          },
        })
      }

      const displayProduct = product => {
        $('#product_list').append(`
          <div class="col-md-4">
            <div class="card-box-a card-shadow">
              <div class="img-box-a">
                <img
                  src="${product.image}"
                  alt=""
                  class="img-a img-fluid"
                />
              </div>
              <div class="card-overlay">
                <div class="card-overlay-a-content">
                  <div class="card-header-a">
                    <h2 class="card-title-a">
                      <a href="/products/${product.id}"
                        >${product.name}</a
                      >
                    </h2>
                  </div>
                  <div class="card-body-a">
                    <div class="price-box d-flex">
                      <span class="price-a">$ ${product.price}</span>
                    </div>
                    <a href="/products/${product.id}" class="link-a"
                      >Click here to view
                      <span class="ion-ios-arrow-forward"></span>
                    </a>
                  </div>
                  <div class="card-footer-a">
                    <ul class="card-info d-flex justify-content-around">
                      <li>
                        <h4 class="card-info-title">등록일</h4>
                        <span>${product.registrationDate}</span>
                      </li>
                      <li>
                        <h4 class="card-info-title">상품타입</h4>
                        <span>${product.type}</span>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        `)
      }

      const displayPage = pageNumber => {
        $('#pagination').append(`
          <li class="page-item">
            <a
              class="page-link"
              href="javascript:void(0)"
              onclick="pagination(this)"
              >${pageNumber}</a
            >
          </li>
        `)
      }

      const getSortAndFilterOptions = () => {
        const sort = $('select[name=product_sort] option:selected').val()
        const filterOptopns = $('select[name=product_filter] option:selected')

        const brand = filterOptopns[0].value
        const category = filterOptopns[1].value
        const type = filterOptopns[2].value

        return {
          sort,
          brand,
          category,
          type,
        }
      }

      const getProducts = sortAndFilterOptions => {
        $.ajax({
          url: '/products',
          method: 'GET',
          data: sortAndFilterOptions,
          success: data => {
            $('#product_list').empty()
            $('#pagination').empty()

            const { products, page } = data

            if (products.length > 0) {
              for (const product of products) {
                displayProduct(product)
              }
            } else {
              $('#product_list').append(`
                <div class="col-md-4">
                  <p>해당되는 상품이 존재하지 않습니다.</p>
                </div>
              `)
            }

            for (let pageNumber = 1; pageNumber <= page; pageNumber++) {
              displayPage(pageNumber)
            }

            $('#pagination>li:eq(0)').attr('id', 'first_page')
            $('#first_page').addClass('active')
          },
        })
      }

      $(document).on('change', 'select[name=product_sort]', () => {
        const sortAndFilterOptions = getSortAndFilterOptions()

        getProducts(sortAndFilterOptions)
      })

      $(document).on('change', 'select[name=product_filter]', () => {
        const sortAndFilterOptions = getSortAndFilterOptions()

        getProducts(sortAndFilterOptions)
      })

      $(document).ready(() => {
        $('.navbar-nav.ml-auto>li:eq(1)').addClass('active')
      })
    </script>
  </body>
</html>
