<!DOCTYPE html>
<html lang="en">
  <% include ./common/head-meta %>
  <body>
    <% include ./common/search %> <% include ./common/nav %>

    <!--/ Intro Single star /-->
    <section class="intro-single">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-lg-8">
            <div class="title-single-box">
              <h1 class="title-single">Product</h1>
              <span class="color-text-a">Shoes</span>
            </div>
          </div>
          <div class="col-md-12 col-lg-4">
            <nav
              aria-label="breadcrumb"
              class="breadcrumb-box d-flex justify-content-lg-end"
            >
              <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <a href="/">Home</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                  Product
                </li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </section>
    <!--/ Intro Single End /-->

    <!--/ Products /-->
    <section class="property-grid grid">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="grid-option">
              <form>
                <select id="product_sort" class="custom-select">
                  <option value="regist" selected>등록순</option>
                  <option value="popular">인기순</option>
                  <option value="review">리뷰순</option>
                  <option value="name">이름순</option>
                </select>
              </form>
            </div>
          </div>
          <div class="col-12 mb-3">
            <div class="grid-option" style="float: left">
              <form>
                <select class="custom-select" name="product_filter">
                  <option selected>브랜드</option>
                  <option value="0">전체상품</option>
                  <% for (brand of brandList) { %>
                  <option value="<%= brand.b_id %>"><%= brand.b_name %></option>
                  <% } %>
                </select>
                <select class="custom-select" name="product_filter">
                  <option selected>카테고리</option>
                  <option value="0">전체상품</option>
                  <% for (category of categoryList) { %>
                  <option value="<%= category.c_id %>">
                    <%= category.c_name %>
                  </option>
                  <% } %>
                </select>
                <select class="custom-select" name="product_filter">
                  <option selected>상품타입</option>
                  <option value="0">남녀공용</option>
                  <option value="1">남성용</option>
                  <option value="2">여성용</option>
                </select>
              </form>
            </div>
          </div>
        </div>
        <div id="product_list" class="row">
          <% for (product of productList) { %>
          <div class="col-md-4">
            <div class="card-box-a card-shadow">
              <div class="img-box-a">
                <img
                  src="<%= product.p_image %>"
                  alt=""
                  class="img-a img-fluid"
                />
              </div>
              <div class="card-overlay">
                <div class="card-overlay-a-content">
                  <div class="card-header-a">
                    <h2 class="card-title-a">
                      <a href="/products/<%= product.p_id %>"
                        ><%= product.p_name %></a
                      >
                    </h2>
                  </div>
                  <div class="card-body-a">
                    <div class="price-box d-flex">
                      <span class="price-a">$ <%= product.p_price %></span>
                    </div>
                    <a href="/products/<%= product.p_id %>" class="link-a"
                      >Click here to view
                      <span class="ion-ios-arrow-forward"></span>
                    </a>
                  </div>
                  <div class="card-footer-a">
                    <ul class="card-info d-flex justify-content-around">
                      <li>
                        <h4 class="card-info-title">등록일</h4>
                        <span><%= product.p_reg_date %></span>
                      </li>
                      <li>
                        <h4 class="card-info-title">상품타입</h4>
                        <span><%= product.p_type %></span>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <% } %>
        </div>

        <div class="row">
          <div class="col-sm-12">
            <nav class="pagination-a">
              <ul class="pagination justify-content-end">
                <li class="page-item disabled">
                  <a class="page-link" href="#" tabindex="-1">
                    <span class="ion-ios-arrow-back"></span>
                  </a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="#">1</a>
                </li>
                <li class="page-item active">
                  <a class="page-link" href="#">2</a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="#">3</a>
                </li>
                <li class="page-item next">
                  <a class="page-link" href="#">
                    <span class="ion-ios-arrow-forward"></span>
                  </a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </section>
    <!--/ Property Grid End /-->

    <% include ./common/footer.ejs %>

    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
    <div id="preloader"></div>

    <% include ./common/foot-meta.ejs %>

    <script>
      const appendProduct = product => {
        $('#product_list').append(`
          <div class="col-md-4">
            <div class="card-box-a card-shadow">
              <div class="img-box-a">
                <img
                  src="${product.p_image}"
                  alt=""
                  class="img-a img-fluid"
                />
              </div>
              <div class="card-overlay">
                <div class="card-overlay-a-content">
                  <div class="card-header-a">
                    <h2 class="card-title-a">
                      <a href="/products/${product.p_id}"
                        >${product.p_name}</a
                      >
                    </h2>
                  </div>
                  <div class="card-body-a">
                    <div class="price-box d-flex">
                      <span class="price-a">$ ${product.p_price}</span>
                    </div>
                    <a href="/products/${product.p_id}" class="link-a"
                      >Click here to view
                      <span class="ion-ios-arrow-forward"></span>
                    </a>
                  </div>
                  <div class="card-footer-a">
                    <ul class="card-info d-flex justify-content-around">
                      <li>
                        <h4 class="card-info-title">등록일</h4>
                        <span>${product.p_reg_date}</span>
                      </li>
                      <li>
                        <h4 class="card-info-title">상품타입</h4>
                        <span>${product.p_type}</span>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        `)
      }

      $(document).on('change', '#product_sort', e => {
        const sort_type = e.target.value

        $.ajax({
          url: `/products/sort?sort_type=${sort_type}`,
          method: 'GET',
          success: data => {
            $('#product_list').empty()

            for (const product of data.sortedProductList) {
              appendProduct(product)
            }
          },
        })
      })

      $(document).on('change', 'select[name=product_filter]', e => {
        const filter_option = {}

        $('select[name=product_filter] option:selected').each((idx, el) => {
          if (idx === 0) filter_option['brand'] = el.value
          else if (idx === 1) filter_option['category'] = el.value
          else filter_option['p_type'] = el.value
        })

        $.ajax({
          url: `/products/filter?brand=${filter_option.brand}&category=${filter_option.category}&p_type=${filter_option.p_type}`,
          method: 'GET',
          success: data => {
            $('#product_list').empty()

            if (data.filteredProductList.length > 0) {
              for (const product of data.filteredProductList) {
                appendProduct(product)
              }
            } else {
              $('#product_list').append(`
                <div class="col-md-4">
                  <h5>해당되는 제품이 존재하지 않습니다.</h5>
                </div>
              `)
            }
          },
        })
      })
    </script>
  </body>
</html>
